.side-menu__neptune {
  z-index: -1;
}
.side-section__dropdown {
  height: auto;
}
.book__topline {
  position: static;
  width: 100%
}
.topline__section-name {
  font-weight: 700;
}
.topline__switch.bigger-font-active .switch__left {
  background-color: #5f6e76;
  color: #fff;
}
.topline__switch.bigger-font-active .switch__right {
  background-color: #fff;
  color: #5f6e76;
}
.book__bookbody {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 140px;
  padding-bottom: 80px;
}
.reader__topline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.reader__side-menu {
  box-shadow: -15px 0px 20px 0 #0000000d;
}
.reader__side-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.side-menu__table {
  padding-bottom: 80px;
}
.side-chapter__main.done {
  background-color: #e2f4cc;
}
.side-chapter__number {
  text-align: center;
}
.reader__mainpart {
  box-shadow: 15px 0px 20px 0 #0000000d;
}

.reader__book {
  position: relative;
  padding-bottom: 55px;
}

.bookbody__paragraph.bigger-font {
  font-size: 1.3em !important;
  line-height: 1.3em !important;
}


.book__bookfooter {
  height: 100%;
  padding: 0;
}

.prev__info,
.next__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation__prev,
.navigation__next {
  max-width: 350px;
  align-items: stretch;
}
.navigation__arrow {
  align-self: flex-start;
}

.full-width-image.at-beginning {
  margin-bottom: 20px;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.donesect__done-check {
  cursor: pointer;
}

.donesect__done-check.done .check-box {
  background-image: url("../images/checkmarkw.svg");
  background-color: #178fe5;
  background-repeat: no-repeat;
  background-position: center center;
}
.navigation__next {
  margin-left: auto;
}
.hidden {
  display: none;
}

.menubtn__book {
  filter: brightness(0) invert(1);
}

.side-menu__subsection.deactivated {
  opacity: 0.7;
}
.lock-icon.reader {
  width: 20px;
  height: 25px;
  left: 40px;
  top: 12px;
}
.overlay.show {
  display: none;
}

@media screen and (max-width: 991px) {
  .overlay {
    display: block;
    left: auto;
    right: -1000px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .overlay.show {
    display: initial;
    right: 0;
    opacity: 1;
  }

  .side-menu__neptune {
    left: auto;
    right: -300px;
  }

  .reader__side-menu {
    right: -500px
  }

  .reader__side-menu.show {
    right: 0;
  }

  .side-menu__moon.show {
    right: 200px;
  }

  .sidemenu__btn {
    position: absolute;
  }
}

@media screen and (max-width: 479px) {
  .chapter__interface {
    justify-content: space-between;
  }
  .switch__buttons {
    width: auto;
    flex-direction: column;
  }

  .switch__buttons div {
    width: 100%;
  }

  .welcome__moon {
    top: -50px;
    right: 0;
    width: 140px;
  }

  .switch__right {
    font-size: 18px;
    padding-top: 4px;
  }

  .switch__left {
    padding: 5px;
  }

  .reader__side-menu {
    max-width: 100%;
    width: 100%;
  }

  .navigation__prev {
    flex-direction: column-reverse;
    max-width: 140px;
    justify-content: space-between;
  }

  .navigation__next {
    flex-direction: column;
    max-width: 140px;
    justify-content: space-between;
  }

  .navigation__arrow {
    width: 22px;
    margin-top: 10px;
    margin-bottom: 0;
    align-self: flex-end;
  }
  .navigation__prev .navigation__arrow {
    align-self: flex-start;
  }
}