a {
  color: #178fe5;
  text-decoration: none;
}

.main {
  margin-top: 50px;
}

.container {
  display: block;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
}

.container.welcome {
  position: relative;
  max-width: 910px;
}

.top__flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sleepwell {
  padding: 100px 130px 130px;
  background-color: #c0f1ff;
  background-image: url('../images/clouds-bg.jpeg');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: Heebo, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 1.6em;
}

.top__main-part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.top__text {
  max-width: 810px;
  font-weight: 500;
}

.heading {
  margin-top: 0px;
  font-weight: 900;
}

.top__user-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-area__name {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
}

.user-area__photo {
  overflow: hidden;
  max-height: 64px;
  max-width: 64px;
  margin-left: 15px;
}

.user-area__account {
  text-align: right;
}

.top__burger {
  display: none;
  margin-left: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-area__acc-link {
  display: block;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
  text-decoration: none;
}

.user-photo {
  overflow: hidden;
  border-radius: 50%;
}

.top__h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 52px;
  line-height: 64px;
  font-weight: 900;
}

.main__subsection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 15px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 15px;
}

.subsection__number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 120px;
  padding: 18px 46px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #178fe5;
  font-family: 'Leckerli One', sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 54px;
}

.chapter__name {
  font-weight: 500;
}

.subsection__name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 1.2em;
}

.subsection__name.tablet {
  display: none;
}

.subsection__interface {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px 20px 34px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
}

.subsection__dropdown-content {
  display: block;
  width: 100%;
  padding: 30px 60px 60px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .75));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .75));
}

.chapter__open-dd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 18px;
  line-height: 2em;
  font-weight: 700;
  text-decoration: none;
}

.dd-hand {
  width: 28px;
  height: 24px;
  margin-right: 10px;
}

.dd-text {
  margin-bottom: 0px;
  padding-top: 3px;
  line-height: 1em;
}

.subsection__progress {
  width: 30%;
}

.progress__percents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #5f6e76;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 500;
}

.prog-num {
  color: #178fe5;
  font-size: 32px;
  line-height: 1.25em;
}

.paragraph {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.pp-text {
  width: 120px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.div-block {
  width: 100%;
  height: 16px;
  border: 2px solid #178fe5;
  border-radius: 10px;
}

.progress-bar {
  width: 100%;
  height: 16px;
  border: 2px solid #178fe5;
  border-radius: 10px;
}

.paragraph-2 {
  font-weight: 700;
}

.dropdown__subheadline {
  font-weight: 700;
}

.dropdown__chapters {
  margin-top: 30px;
}

.chapters__chapter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 64px;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
}

.chapter__number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e3f4cc;
  font-weight: 500;
}

.chapter__read-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.book-img {
  width: 29px;
  height: 22px;
  margin-left: 15px;
}

.chapter-read-l {
  margin-bottom: 0px;
}

.chapter__done-check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.chapter__interface {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.check-done-t {
  width: 40px;
  margin-bottom: 0px;
  color: #178fe5;
  font-size: 10px;
  line-height: 1.2em;
  font-weight: 700;
}

.check-box {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  border: 2px solid #178fe5;
  border-radius: 20px;
}

.welcome__text-block {
  position: relative;
  z-index: 5;
  padding: 50px;
  background-color: #fff;
}

.heading-2 {
  font-size: 52px;
  line-height: 1.1px;
  font-weight: 900;
}

.welcome__h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 52px;
  line-height: 1.1em;
  font-weight: 900;
}

.welcome__paragraph {
  margin-bottom: 20px;
}

.welcome__paragraph.last {
  margin-bottom: 0px;
}

.welcome__paragraph.first {
  margin-bottom: 0px;
}

.welcome__pic {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.welcome__button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 265px;
  height: 80px;
  padding-left: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 40px;
  background-color: #178fe5;
  color: #fff;
  cursor: pointer;
}

.button__text {
  margin-bottom: 0px;
  font-weight: 700;
}

.button__circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
}

.welcome__moon {
  position: absolute;
  top: -70px;
  right: -140px;
  z-index: 9;
}

.welcome__neptune {
  position: absolute;
  left: -180px;
  top: 180px;
}

.welcome__star {
  position: absolute;
  top: 420px;
  right: -100px;
}

@media (max-width: 991px) {
  .sleepwell {
    padding: 40px;
  }
  .top__text {
    max-width: 460px;
    font-size: 18px;
  }
  .top__user-area {
    min-width: 240px;
  }
  .user-area__account {
    margin-left: auto;
  }
  .subsection__name {
    display: none;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 28px;
  }
  .subsection__name.tablet {
    display: block;
  }
  .subsection__interface {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .subsection__txt {
    margin-top: 10px;
  }
  .subsection__progress {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #e3f3fd;
  }
  .progress__percents {
    margin-top: 12px;
  }
  .prog-num {
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 700;
  }
  .pp-text {
    width: auto;
    font-size: 17px;
    font-weight: 400;
  }
  .chapter__number {
    font-size: 18px;
  }
  .chapter-read-l {
    display: none;
  }
  .chapter__done-check {
    margin-left: 30px;
  }
  .chapter__interface {
    font-size: 18px;
  }
  .welcome__h1 {
    width: 75%;
  }
  .welcome__button {
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100vw;
    height: 60px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0px;
  }
  .button__circle {
    background-color: #178fe5;
  }
  .welcome__moon {
    top: -40px;
    right: 0px;
    width: 190px;
  }
  .welcome__neptune {
    display: none;
  }
  .welcome__star {
    display: none;
  }
}

@media (max-width: 767px) {
  .top__main-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .top__text {
    font-size: 16px;
  }
  .top__user-area {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .user-area__photo {
    max-height: 40px;
    max-width: 40px;
    margin-left: 0px;
  }
  .user-area__account {
    margin-right: 10px;
  }
  .top__burger {
    display: none;
  }
  .top__h1 {
    font-size: 46px;
    text-align: center;
  }
  .subsection__number {
    width: 60px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 36px;
    line-height: 1px;
  }
  .chapter__name {
    width: 100%;
    margin-bottom: 10px;
    line-height: 1em;
  }
  .subsection__name.tablet {
    font-size: 22px;
  }
  .subsection__dropdown-content {
    padding: 15px 10px 10px;
  }
  .chapter__open-dd {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .dd-hand {
    width: 22px;
    height: 18px;
  }
  .dd-text {
    font-size: 14px;
  }
  .dropdown__subheadline {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 16px;
    text-align: center;
  }
  .dropdown__chapters {
    margin-top: 10px;
  }
  .chapters__chapter {
    height: 78px;
  }
  .chapter__number {
    width: 60px;
    padding-top: 13px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    line-height: 1em;
  }
  .chapter__read-link {
    margin-top: 2px;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .book-img {
    width: 26px;
    height: 20px;
    margin-right: 10px;
    margin-left: 0px;
  }
  .chapter-read-l {
    display: block;
    font-size: 14px;
    line-height: 1.2em;
  }
  .chapter__done-check {
    margin-left: auto;
  }
  .chapter__interface {
    padding: 10px 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .check-box {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 479px) {
  .sleepwell {
    padding: 15px 10px;
  }
  .sleepwell.welcome {
    padding: 130px 20px 30px;
  }
  .top__text {
    line-height: 1.6em;
    text-align: center;
  }
  .top__h1 {
    line-height: 1.1em;
  }
  .subsection__number {
    width: 56px;
    font-size: 20px;
  }
  .subsection__name.tablet {
    font-size: 16px;
  }
  .subsection__interface {
    padding: 15px;
  }
  .subsection__dropdown-content {
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  .chapter__open-dd {
    margin-bottom: -5px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .dd-hand {
    width: 22px;
    height: 18px;
  }
  .dd-text {
    max-width: 190px;
    min-height: 30px;
    padding-top: 0px;
    line-height: 1.2em;
  }
  .progress__percents {
    margin-top: 7px;
    margin-bottom: 5px;
  }
  .prog-num {
    font-size: 14px;
    line-height: 1em;
  }
  .pp-text {
    font-size: 12px;
    line-height: 1em;
  }
  .progress-bar {
    height: 8px;
  }
  .dropdown__subheadline {
    line-height: 1.2em;
  }
  .chapters__chapter {
    margin-top: 5px;
  }
  .chapter__number {
    width: 56px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .book-img {
    margin-right: 8px;
  }
  .chapter__interface {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .check-box {
    margin-left: 5px;
  }
  .welcome__text-block {
    margin-top: 115px;
    padding: 60px 20px;
  }
  .welcome__h1 {
    width: 100%;
    font-size: 46px;
  }
  .welcome__paragraph {
    font-size: 16px;
    line-height: 1.8em;
  }
  .welcome__button {
    height: 50px;
  }
  .button__circle {
    height: 50px;
  }
  .welcome__moon {
    top: -100px;
  }
  .welcome__neptune {
    left: 0px;
    top: -100px;
    display: block;
    width: 72px;
    -webkit-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
}

#w-node-476fdaa56239-15a3b2b0 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-46902cd49cd4-804cdddf {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-4abf50aa051d-804cdddf {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-ed9cecd8b358-804cdddf {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-dba410583158-804cdddf {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

